body {
    width: 100%;
}

.h-big {
    font-size: 32px;
}

.h-medium {
    font-size: 18px;
}

#header .nav {
    height: 10vh;
}

#header .content {
    height: 82.5vh;
}

#section-1 {
    flex-direction: column;
}

#section-1 .left>div {
    padding: 0;
}

#section-1 .left {
    display: block;
    width: 90%;
    height: 20%;
    margin-top: 0;
}

#section-1 .right {
    display: block;
    width: 90%;
}

#section-1 .left>div {
    width: 100%;
}

#section-1 .right>div {
    width: 100%;
    margin-left: 0;
}

#section-2 {
    padding: 0;
    grid-gap: 0;
    width: 100%;
}

#section-2 .box-2 {
    padding-left: 1.2rem;
}

#section-2 .box-2 div,
#section-2 .box-3 div {
    width: 42vw;
}

#section-2 .box-2 a {
    align-self: center;
}

#section-2 .btn,
#section-2 .btn-dark {
    font-size: 15px;
}

#section-3 {
    display: block;
}

#section-3 .box-1 {
    display: block;
    padding: 2rem 1rem 1.2rem 1rem;
}

#section-3 img {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 7px solid #e3e3e3;
}

#section-4 h1 {
    text-align: center;
}

@media (max-width: 414px) {
    body {
        width: 100%;
    }
    #header .nav {
        font-size: 15px;
        padding: 1.5rem;
        width: 100%;
    }
    #header .nav ul li {
        padding: 0 1rem;
    }
    #header .content p {
        padding: 0 .5rem;
    }
    #section-4 h1 {
        font-size: 30px;
    }
    #section-2 .btn,
    #section-2 .btn-dark {
        font-size: 10px;
        padding: 1rem 1.7rem;
        border-radius: 4px;
        font-weight: 500;
    }
    #footer i,
    #footer p {
        margin: .5rem 1rem;
        color: #aaaaaa;
    }
    #generic-header .nav {
        padding: 1.5rem;
        font-size: 15px;
        width: 100%;
    }
    #generic-header .nav ul li {
        padding: 0 1rem;
    }
}